<div id="sideContainer" class="side-container">
    {{ if eq .Title .Site.Title}}
    <a class="a-block nav-head active" href="{{ "" | absLangURL }}">
    {{ else }}
    <a class="a-block nav-head false" href="{{ "" | absLangURL }}">
    {{ end }}
        {{ if .Site.Params.logo }}
        <div class="nav-logo" style="text-align: right;">
            <img src="{{ .Site.Params.logo }}" alt="{{ .Site.Title }}" style="width: 80px; height: 80px; margin-bottom: 10px;">
        </div>
        {{ end }}
        <div class="nav-title">
            {{.Site.Title}}
        </div>
        {{ with .Site.Params.subtitle }}
        <div class="nav-subtitle">
            {{.}}
        </div>
        {{ end }}

    </a>

    <div class="nav-link-list">
        {{ $current := .RelPermalink | absLangURL }}
        {{ range .Site.Menus.main }}
            {{$actived := "false"}}
            <!-- A problem caused by slash: if you use "eq" directly, you will get a result of "/tags/" and "/tags" -->
            {{if hasPrefix  $current (.URL|absLangURL)}}
                {{$actived = "active"}}
            {{end}}
            {{ if .HasChildren }}
            <div class="a-block" class="nav-link-item {{$actived}}" v-on:click="isHidden = !isHidden">
                {{ .Name }}
                <div class="nav-link-subitem" v-if="!isHidden">
                    {{ range .Children }}
                    <li><a href="{{ .URL }}"> {{ .Name }}</a></li>
                    {{ end }}
                </div>
            </div>
            {{ else }}
            <!--<a class="a-block nav-link-item {{$actived}}" href="{{ .URL }}">-->
            <a class="a-block nav-link-item {{ $actived }}" href="{{ .URL }}">
                {{ .Name }}
            </a>
            {{ end }}
        {{ end }}
    </div>



    <div class="nav-footer">
        {{partial "copyright.html" .}}
        <div style="margin-top: 2px; font-size: 0.85em; white-space: nowrap;">
            powered by <a href="https://dashboard.internetcomputer.org/canister/bf52x-nyaaa-aaaan-qz5aq-cai" target="_blank" rel="noopener noreferrer" style="display: inline;">
                <img src="/img/ic_logo.svg" alt="Internet Computer" style="height: 16px; vertical-align: middle; display: inline;">
            </a>
        </div>
    </div>

</div> 